@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,500,600,700,300i,500i,600i,700i|Raleway:600,800");

.project-unidad {
  border-radius: 10px;
  width: 400px;
  height: 250px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 1px 7px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.project-imagen {
  /* width: 404px; */
  height: 250px;
  /* width: 404px; */

  border-radius: inherit;
}

.project-photo {
  border-radius: 10px;
  height: 60%;

}

.project-link {
  border: 2px solid rgb(34, 34, 34);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  border-radius: 9%;
  background-color: #ebebeb;

  /* margin: 5px; */
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 12px;

  height: 50px;
  width: 50px;
  min-width: 50px;

  cursor: pointer;

  justify-content: center;
  align-items: center;

  transition: transform 0.1s ease-in;
  /* margin-right: auto; */
}

.project-link:hover {
  transition: scale;
  transform: scale3d(1.05, 1.05, 1);
}

.project-banda {
  height: 80px;

  margin-top: auto;
  border-radius: 10px;

  border-top-right-radius: 0;
  border-top-left-radius: 0;

  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  background: #f7f7f7;
  /* height: 30px; */
}

#projects {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.desc {
  width: 250px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;

  overflow: scroll;
}

.icon {
  color: black;
  font-size: 30px;
  margin-top: 25px;
  margin-left: 10px;
}

div.sticky {

  top: 25px;
  left: auto;
  right: 25px;

  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  overflow: auto;
  /* Enable scroll if needed */

}


.navi {
  /* Estilo de enlace normal */
  color: inherit;
  transition: filter 0.3s ease-in-out, font-size 0.3s ease-in-out, transform 0.3s ease-in-out;
  /* Transiciones suaves para el efecto de brillo, cambio de tamaño y transformación */
  font-size: 20px;
  /* Tamaño de fuente normal */
  text-decoration: none;
  /* Quita la decoración de subrayado del enlace */

  outline: none;
  border: none;

}

/* Estilo de enlace de navegación con efecto de brillo y tamaño más grande al pasar el ratón sobre él */
.navi:hover {
  filter: brightness(200%);
  /* Cambia el brillo del texto al 150% (efecto de brillo) */
  font-size: 20px;
  /* Tamaño de fuente más grande */
  opacity: 1;
  /* Opacidad normal */
  font-weight: 600;
}

/* Estilo de enlaces de navegación cuando se hace hover en uno de ellos */
#navigation:hover .navi:not(:hover) {
  opacity: 0.95;
  /* Opacidad del 70% en los enlaces que no se les hace hover */
  font-size: 17px;
  /* Tamaño de fuente ligeramente más pequeño en los enlaces que no se les hace hover */
}


#navigation {

  height: 45px;
  width: 25rem;
  background-color: rgba(48, 46, 45, 0.9);
  border-radius: 7px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  display: flex;
  justify-content: space-around;
  align-items: center;

  font-size: 20px;
  color: #f7f7f7;
  z-index: 10000;

  transition: background-color 0.3s ease-in-out
}

#navigation:hover {
  background-color: rgba(48, 46, 45, 1);
}

html {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  background: #FFFFFF;
  background: linear-gradient(180deg, #FFFFFF, #49F9D2);
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}

.intro {
  font-size: 30px;
  margin: 20px;
  border-radius: 5px;
  background-color: rgba(219, 219, 219, 0.5);
  width: fit-content;
  padding: 10px;
  font-weight: 500;
  margin-top: 6rem;
}

#presentation-projects {
  font-size: 30px;
  margin: 20px;
  border-radius: 5px;
  width: fit-content;
  padding: 10px;
  font-weight: 600;
  margin-top: 4rem;
}

.presentation-articles {
  font-size: 30px;
  margin: 20px;
  border-radius: 5px;
  padding: 10px;
  font-weight: 600;
  z-index: 0;

  width: 100%;
  height: 100%;
  margin-top: 4rem;
}

#medium-articulos {
  /* width: fit-content; */
  /* padding: 20px; */
  margin: 15px;
}

.medium-container {
  padding: 7px;

  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: flex-start;

  border-radius: 10px;
  overflow: scroll;

  margin-right: auto;

  /* display: block;
  columns: 3; */
}

.medium-texts {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  color: #f7f7f7;
  font-size: medium;
}

.medium-article {
  background-color: rgb(53, 53, 52);

  z-index: 20;

  display: flex;
  flex-direction: column;

  /* min-width: 300px; */
  max-width: 300px;

  /* margin-bottom: auto; */

  padding: 15px;

  /* border: 2px solid #f7f7f7; */
  border-radius: 10px;
  /* box-sizing: border-box; */
}

.medium-texts {
  /* position: absolute; */

  z-index: 200;
  margin-top: -180px;

  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(to bottom,
      rgba(53, 53, 52, 0),
      rgba(53, 53, 52, 0.25) 5%,
      rgba(53, 53, 52, 0.75) 35%,
      rgba(53, 53, 52, 0.85) 50%,
      rgba(53, 53, 52, 1) 100%);

  max-width: 290px;

  border-radius: 5px;
  /* top: 150px; */
}

.medium-title {
  font-size: 25px;
  font-weight: 600;
}

.medium-text {
  background: linear-gradient(to bottom,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.75) 25%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0.1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.medium-photo {
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  border-radius: 5px;
}

.medium-down {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
}

.medium-time {
  font-style: italic;
}

.medium-read {
  text-decoration: none;
  font-weight: 600;
  color: #212121;
  border: 2px solid #212121;
  border-radius: 10px;
  padding: 10px;
  background-color: #f7f7f7;
  align-self: center;
}

@media screen and (max-width: 450px) {

  #linkProjects {
    display: none;
  }

  #navigation {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}